.fish {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border: 1px solid rgb(53, 51, 51);
    border-radius: 25px;
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    color: black;
}

.description_title {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show, .edit, .delete {
    width: 90px;
    height: 37px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.show {
    color: blue;
}

.edit {
    color: green;
}

.delete {
    color: red;
}

.show:hover, .edit:hover, .delete:hover {
    background-color: rgb(113, 174, 175);
}

.modal_name {
    font-size: 21px;
    font-weight: bold;
    color: black;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
}

.emoji_star {
    font-size: 24px;
    display: inline-block;
    background-color: transparent;
    color: inherit;
}

.like {
    font-size: 24px;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}

.loading_delete {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.loading_spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}