.NavBarItem {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.NavBarItem:hover {
    background-color: gray;
    color: white;
}

.NavBarItem.active {
    background-color: gray;
    color: white;
}