.create-fish-form {
    min-width: 300px;
    margin: auto;
}

.create-fish-form-label {
    font-size: 18px;
}

.create-fish-form-input {
    width: 100%;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-fish-form-error {
    color: red;
    font-size: 12px;
}

.create-fish-form-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}