.fishes-wrapper {
    padding: 15px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.create-fish {
    width: 150px;
    height: 39px;
    border: none;
    border-radius: 15px;
    background-color: rgb(18, 18, 26);
    font-size: 19px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

.fishes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}